{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Fondo de pantalla</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis culpa ipsam enim labore, possimus a eveniet quibusdam consectetur vitae, ab facilis dignissimos, eos tempora. Temporibus repellendus aliquid quidem ut dolores.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/fondo2.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}